#workingPalindrome {
    font-size = 20px;
}

li:hover {
    background-color: lightblue;
}

li:active {
    border: 1px solid black;  
}

/*.wordSuggestions div{*/
/*    vertical-align: top;*/
/*    display: inline-block;*/
/*    *display: inline;*/
/*    zoom: 1*/
/*}*/

#forwardWordSuggestionsDiv{
    float:left;
    width:50%;
    overflow:hidden;
}

#reverseWordSuggestionsDiv{
    float:left;
    width:50%;
    overflow:hidden;
}

.wordSuggestions {
    list-style-type: none;
    margin: 2px;
    padding: 10px;
}

.completedPalindrome {
    color: DarkGreen;
}
